[user]
	name = Zachary Hickson
	email = zhickson@thecode.co
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = code --wait --new-window
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
[gc]
	auto = 256
[color]
	status = always
[push]
	default = upstream
[diff]
	tool = default-difftool
[difftool "default-difftool"]
	cmd = code --wait --new-window --diff $LOCAL $REMOTE